<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/modify.css" />
  </head>
  <body>
    <div class="container">
      <h1>Find your author</h1>
      <form id="newPostForm" method="post" action="/author">
        <input type="text" name="author" placeholder="Author" required />
        <button class="full-width" type="submit">Find</button>
      </form>
    </div>
  </body>
</html>
